body {
  font-family:'Courier New', Courier, monospace;
  font-size:x-large;
  text-align:center;
}

.explanation {
  font-size: large;
  text-align: center;
  padding-left:100px;
  padding-right: 100px;
}

.title {
  font-size: x-large;
  text-align: center;
  padding-top: 50px;
}